/* Customize fonts */
body, label, input, button, select { 
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
    font-size: 12px;
  }
  
h1, h2, h3, h4 { 
  font-weight: 400; 
} 

/* Main header styling */
#main-header {
  background-color: #000;
  color: white;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Fixing dropdowns over map */

/* drop downs */
#park-select .selectize-control {
  z-index: 9999;
}

#site-select .selectize-control {
  z-index: 9998;
}

/* leaflet map */ 
.leaflet-control-zoom{
  z-index: 1000;
}